# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Django
*.log
*.pot
*.pyc
*.db
*.sqlite3
*.log
media/
static/

# Environment Files
.env
.venv/
venv/
*.env

# IDE or Editor folders
.idea/
.vscode/

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db

# Backup files
*~
