{% extends 'base.html' %}

{% block body %}
    Hello, this is the slider component.
    <div class="slider-component">
        <h2>Slider Component</h2>
        <p>This is a simple slider component.</p>
    </div> 
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At voluptatum libero nobis eveniet, doloremque esse suscipit quam ratione fugiat atque ad nihil odit enim iusto ipsam non delectus quia provident optio error quaerat et dolorum. Adipisci, iusto maxime ipsum amet soluta repellat quae quibusdam, pariatur magni, iste doloremque perferendis placeat.</p>
    </div> 
{% endblock  %}