{% extends "base.html" %}
{% block title %}Forgot password{% endblock title %}
{% block navbar %}{% endblock navbar %}


{% block body %}
<div class="min-h-screen w-full flex items-center justify-center bg-gray-100 px-4 py-8">
  <div class="w-full max-w-md bg-gray-200 p-8 rounded-lg shadow-md">
    <div class="flex items-center space-x-3 mb-4">
      {% if website.logo %}
      <img src="{{ website.logo.url }}" alt="{{ website.name }}"
        class="w-10 h-10 object-contain rounded-full">
      {% else %}
      <div class="w-10 h-10 bg-gray-400 rounded-full flex items-center justify-center text-white font-bold">
        ?
      </div>
      {% endif %}
      <p class="text-3xl font-bold text-gray-800">{{ website.name }}</p>
    </div>

    <h2 class="text-2xl font-semibold text-gray-700 mt-2">Forgot Password</h2>

    <form action="" method="POST" class="mt-6 space-y-4">
      {% csrf_token %}
      <div>
        <label for="forgot_password" class="block text-sm font-medium">Email address</label>
        <input type="email" id="forgot_password" name="email" required placeholder="Enter your email"
          class="bg-input mt-1 block w-full p-2 border border-gray-600 rounded-md focus:ring-blue-500 focus:border-blue-500" />
      </div>
      <div>
            <input type="submit" value="Forgot Password"
              class="w-full bg-blue-600 hover:bg-blue-700 cursor-pointer text-white font-semibold py-2 px-4 rounded transition" />
      </div>
    </form>
  </div>
</div>

{% endblock %}